<section class="container main-cart__inner">
    <h1>Your cart</h1>
    
    {% if cart.item_count > 0 %}
    <form action="{{ routes.cart_url }}" method="post">
        <table class="cart__table">
            <thead>
                <tr>
                    <th>Product</th>
                    <th class="align-right">Price</th>
                    <th>quantity</th>
                    <th class="align-right">Total</th>
                    <th class="align-right">Remove</th>
                </tr>
            </thead>
            <tbody>
                {% for item in cart.items %}
                    <tr>
                        <td class="product-details">
                            <img
                                src="{{ item.product.featured_image.src | image_url: width: '100x' }}"
                                alt="{{ item.product.featured_image.alt }}"
                            >
                            <h2>{{ item.title }}</h2>
                        </td>
                        <td class="align-right">{{ item.final_price | money }}</td>
                        <td>
                            <div class="quantity-input">
                                <button type="button" class="minus">-</button>
                                <input type="text" name="updates[]" min="1" value="{{ item.quantity }}">
                                <button type="button" class="plus">+</button>
                            </div>
                        </td>
                        <td class="align-right">
                            <p>{{ item.final_line_price | money }}</p>
                        </td>
                        <td class="align-right">
                            <a href="{{ item.url_to_remove }}">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.3.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"/></svg>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                <tfoot>
                    <tr>
                        <td colspan="5" class="align-right">
                            <input type="submit" value="Update cart" class="button button--outline">
                        </td>
                    </tr>
                </tfoot>
            </tbody>
        </table>
        <div class="checkout">
            <input type="submit" name="checkout" value="Checkout" class="button">
        </div>
    </form>
    {% else %}
        <p class="empty-cart">Cart is empty</p>
    {% endif %}
</section>

{{ 'main-cart.css' | asset_url | stylesheet_tag }}

{% schema %}
{
    "name": "Main Cart",
    "presets": [
        {
            "name": "Main Cart"
        }
    ]
}
{% endschema %}